body {
  background: #303030;
  color: white;
  font-size: 20px; }

#Days .calendar {
  display: flex;
  justify-content: center; }

#Days .calendar .calendar-left-container, #Days .calendar .calendar-right-container {
  height: 55vh; }

#Days .calendar .calendar-left-container button, #Days .calendar .calendar-right-container button {
  height: 100%;
  color: white;
  background: #222;
  width: 60px;
  outline: none;
  border-color: #222;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px; }

#Days .calendar .calendar-left-container button:focus, #Days .calendar .calendar-left-container button::-moz-focus-inner, #Days .calendar .calendar-right-container button:focus, #Days .calendar .calendar-right-container button::-moz-focus-inner {
  outline: none;
  border: 0; }

#Days .calendar .calendar-left-container {
  order: 1;
  margin-right: 10px; }

#Days .calendar .calendar-right-container {
  order: 3;
  margin-left: 10px; }

#Days .calendar > .container {
  order: 2;
  width: 70%;
  height: 55vh;
  position: relative;
  overflow: hidden; }

#Days .calendar > .container > span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

#Days .calendar > .container > span > .page {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-style: solid;
  border-color: black;
  border-width: 1px;
  position: absolute;
  top: 0;
  left: 0; }

#Days .calendar > .container > span > .page > header {
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap; }

#Days .calendar > .container > span > .page > header > .month-name {
  flex-basis: 100%;
  background: red;
  margin: 0; }

#Days .calendar > .container > span > .page > header > .day-of-week {
  flex-basis: 14.2857%; }

#Days .calendar > .container > span > .page > .Day {
  background: transparent;
  flex-basis: 14.2857%;
  cursor: pointer;
  background: #424242; }

#Days .calendar > .container > span > .page > .Day > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 1px);
  width: calc(100% - 1px);
  border-style: solid;
  border-width: 1px;
  border-color: black; }

#Days .calendar > .container > span > .page > .Day > .container > h2 {
  margin: 0; }

#Days .calendar > .container > span > .page > .Day > .active {
  background-color: #3f51b5; }

#Days .calendar > .container > span > .page > .disable {
  opacity: 0.5;
  cursor: not-allowed; }

#Days .calendar > .container > span > .page .day-of-week .container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

#Days .calendar > .container > span > .page h2 {
  font-size: 1rem; }

#Days .calendar > .container > span > .right-enter {
  position: absolute;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  z-index: 1000;
  transform: translate(100vw); }

#Days .calendar > .container > span > .right-enter-active {
  position: absolute;
  opacity: 1;
  z-index: 1000;
  transform: translate(0vw);
  transition: visibility 0s , opacity 1s, transform 1s; }

#Days .calendar > .container > span > .right-leave {
  position: absolute;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  z-index: 1; }

#Days .calendar > .container > span > .right-leave-active {
  position: absolute;
  opacity: 1;
  z-index: 1;
  transform: translate(-100vw);
  transition: visibility 0s , opacity 1s, transform 1s; }

#Days #preview {
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between; }

#Days #preview > * {
  flex-basis: 33.33%;
  position: relative; }

#Days #preview > * > h2, #Days #preview > * > p, #Days #preview > * > button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #3f51b5;
  color: white;
  padding: 10px 20px; }

#Turns {
  display: none; }

#Turns > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background: #303030;
  padding: 0; }

#Turns > ul > li {
  flex-basis: 100%;
  height: 15vh;
  list-style: none; }

#Turns > ul > li > article {
  height: 100%;
  position: relative;
  color: white;
  text-align: left; }

#Turns > ul > li > article > .container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
  align-items: center;
  align-content: center; }

#Turns > ul > li > article > .container h1, #Turns > ul > li > article > .container h2, #Turns > ul > li > article > .container h3, #Turns > ul > li > article > .container h4, #Turns > ul > li > article > .container h5, #Turns > ul > li > article > .container h6 {
  flex-basis: 100%;
  margin: 0 0 0 3vw; }

#Turns > ul > li > article:before {
  content: '';
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 1vw;
  width: 3px;
  background: red; }

#Turns.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-notice {
  display: none; }

.App-header {
  background-color: #222;
  height: 10vh;
  padding: 20px;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }

.App-intro {
  font-size: large; }

.loginSection {
  flex-basis: 10%;
  background: #f44336;
  color: white;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: #f44336;
  outline: none; }

.loginSection:focus, .loginSection::-moz-focus-inner {
  outline: 0;
  border: 0; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
