body {
  background: #303030;
  color: white;
  font-size: 20px; }

#Days .calendar {
  display: flex;
  justify-content: center; }

#Days .calendar .calendar-left-container {
  order: 1; }

#Days .calendar .calendar-right-container {
  order: 3; }

#Days .calendar .container {
  order: 2;
  height: 50vh;
  width: 70%; }

#Days .calendar .container .page {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 2px);
  border-style: solid;
  border-color: black;
  border-width: 1px; }

#Days .calendar .container .page > header {
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap; }

#Days .calendar .container .page > header > .month-name {
  flex-basis: 100%;
  background: red;
  margin: 0; }

#Days .calendar .container .page > header > .day-of-week {
  flex-basis: 14.2857%; }

#Days .calendar .container .page > .Day {
  background: transparent;
  flex-basis: 14.2857%;
  cursor: pointer;
  background: #424242; }

#Days .calendar .container .page > .Day > .container {
  justify-content: center;
  height: calc(100% - 1px);
  width: calc(100% - 1px);
  border-style: solid;
  border-width: 1px;
  border-color: black; }

#Days .calendar .container .page > .Day > .active {
  background-color: blue; }

#Days .calendar .container .page .day-of-week .container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

#Days .calendar .container .page h2 {
  font-size: 1rem; }

#Days #preview {
  height: 50vh;
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  margin: 0 auto; }

#Turns > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background: #303030;
  padding: 0; }

#Turns > ul > li {
  flex-basis: 100%;
  height: 15vh;
  list-style: none; }

#Turns > ul > li > article {
  height: 100%;
  position: relative;
  color: white;
  text-align: left; }

#Turns > ul > li > article > .container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
  align-items: center;
  align-content: center; }

#Turns > ul > li > article > .container h1, #Turns > ul > li > article > .container h2, #Turns > ul > li > article > .container h3, #Turns > ul > li > article > .container h4, #Turns > ul > li > article > .container h5, #Turns > ul > li > article > .container h6 {
  flex-basis: 100%;
  margin: 0 0 0 3vw; }

#Turns > ul > li > article:before {
  content: '';
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 1vw;
  width: 3px;
  background: red; }

#Turns.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  flex-basis: 15%; }

.App-header {
  background-color: #222;
  height: 10vh;
  padding: 20px;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }

.App-intro {
  font-size: large; }

.loginSection {
  flex-basis: 15%; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
